.document{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 500px;
    background-color: #41C9E2;
    box-shadow: 14px 21px 27px 5px #ACE2E1;
    border-radius: 20px;
    animation: toptodown 3s ease 0s 1 normal forwards;

}
@keyframes toptodown {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}
.robot{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 500px;
    background-color: #41C9E2;
    box-shadow: 14px 21px 27px 5px #ACE2E1;
    border-radius: 20px;
    animation: robot 3s ease 0s 1 normal forwards;

}
@keyframes robot {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: scale(0);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: scale(1);
	}

	55% {
		animation-timing-function: ease-in;
		transform: scale(0.7);
	}

	72% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}

	81% {
		animation-timing-function: ease-in;
		transform: scale(0.84);
	}

	89% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}

	95% {
		animation-timing-function: ease-in;
		transform: scale(0.95);
	}

	100% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}
.backend{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 500px;
    background-color: #41C9E2;
    box-shadow: 14px 21px 27px 5px #ACE2E1;
    border-radius: 20px;
    animation: toptodown 3s ease 0s 1 normal forwards;
}
.centerbox{
    height: 95vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
/* From Uiverse.io by Botwe-Felix5820 */ 
button {
    height: 3em;
    width: 8em;
    border: none;
    border-radius: 10em;
    background: black;
    font-size: 17px;
    color: #ffffff;
    font-family: inherit;
    font-weight: 500;
   }
   
   button:hover {
    animation: shake3856 0.3s linear infinite both;
   }
   
   @keyframes shake3856 {
    0% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   
    20% {
     -webkit-transform: translate(-2px, 2px);
     transform: translate(-2px, 2px);
    }
   
    40% {
     -webkit-transform: translate(-2px, -2px);
     transform: translate(-2px, -2px);
    }
   
    60% {
     -webkit-transform: translate(2px, 2px);
     transform: translate(2px, 2px);
    }
   
    80% {
     -webkit-transform: translate(2px, -2px);
     transform: translate(2px, -2px);
    }
   
    100% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   }
   
body{
    background-color: #F7EEDD;
}